.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
*png
csv
*pdf
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
docs/figure
docs/*png
data/
output/
_targets/meta/process
_targets/meta/process
_targets/objects
_targets/user
